.font-family {
  font-family: 'Poppins', sans-serif;
}
.font-size {
  font-size: 15px;
}

.round-img {
  clip-path: circle();
}
.icon-bg {
  background-color: #e4e5eb;
}
.incoming {
  font-size: 12px;
}
.profile-pic {
  height: 100px;
  width: 100px;
}
.small-round-pic {
  height: 50px;
  width: 50px;
}
.scroll {
  height: 50%;
  overflow-y: auto;
}
.scroll-mid {
  height: 885px;
  overflow-y: auto;
}
.side-height {
  height: 850px;
}
.coverpic {
  height: 200px;
  width: 100%;
}
.profilepic {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 5%;
}
.profile-sidebar {
  height: 900px;
}

.friend-req {
  border: 2px solid #f1f1f1;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #f0f0f0;
}
.post {
  display: none;
  visibility: none;

}
/* .caption{
  width: 100%;
} */

.friend-req {
  border: 2px solid #f1f1f1;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #f0f0f0;
}
